<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="pull-left"><%= link_to "CrowdSource", root_path, id: "logo" %></li>
        <li><%= link_to "ABOUT", about_path, id: "navbar-about" %></li>
        <li><%= link_to "NEWS", "#", id: "navbar-news" %></li>
        <li><%= link_to "CONTACT", "#", id: "navbar-contact" %></li>
        
        <% if !logged_in? %>
        
          <li class="pull-right">
            <%= link_to login_path, id: "navbar-login" do %>
              <span class="glyphicon glyphicon-log-in"></span>
              LOGIN
            <% end %>
          </li>
          
        <% else %>
        
          <li class="pull-right dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbar-account">
              ACCOUNT<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>